
@{
    ViewBag.Title = "Checkout";
}
@using fashion_shop_group32.Models.Dao;
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="~/Content/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Checkout</h2>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Checkout</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- Cart view section -->
<section id="checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="checkout-area">
                    @using (Html.BeginForm("Payment", "CheckOut"))
                    {
                        <div class="row">
                            <div class="col-md-8">
                                <div class="checkout-left">
                                    <div class="panel-group" id="accordion">
                                        <!-- Coupon section -->
                                        <div class="panel panel-default aa-checkout-coupon">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                        Bạn có mã giảm giá ?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <input type="text" id="coupon_code" placeholder="Coupon Code" class="aa-coupon-code" name="couponId" />
                                                    <p>@ViewBag.CouponMessage</p>

                                                    <input type="button" onclick="location.href='@Url.Action("Coupon", "Checkout")?couponId=' + $('#coupon_code').val()" value="Áp dụng" class="aa-browse-btn" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default aa-checkout-billaddress">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                                        Địa chỉ giao hàng
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <input type="text" placeholder="Họ tên*" name="ten_kh">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <input type="email" placeholder="Email*" name="email">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <input type="tel" placeholder="Số điện thoại*" name="sodt">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="aa-checkout-single-bill">
                                                                <textarea cols="8" rows="3" name="diachi">Địa chỉ*</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="checkout-right">
                                    <h4>Tổng quan hóa đơn</h4>
                                    <div class="aa-order-summary-area">
                                        <table class="table table-responsive bordered" border="1">
                                            <thead>
                                                <tr>
                                                    <th>Sản phẩm</th>
                                                    <th>Thành tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (((List<CartDao>)Session["cart"]) != null)
                                                {
                                                    foreach (CartDao item in (List<CartDao>)Session["cart"])
                                                    {

                                                        <tr>
                                                            <td width="100%"><img src="@item.Pro.imgs[0]" alt="404" width="50" height="50" /> @item.Pro.ten_sp <strong> x  @item.Pro.quantitySold</strong></td>
                                                            <td>@item.Pro.getTotalMoney()</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                @{
                                                    double money = 0;
                                                }

                                                @if (((List<CartDao>)Session["cart"]) != null)
                                                {
                                                    foreach (CartDao item in (List<CartDao>)Session["cart"])
                                                    {
                                                        money = money + item.Pro.getTotalMoney();
                                                    }
                                                }
                                                <tr>
                                                    <th>Tổng tiền</th>
                                                    <td colspan="3">@money</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <h4>Phương thức thanh toán</h4>
                                    <div class="aa-payment-method">
                                        @{
                                            int temp = 0;
                                        }
                                        @foreach (PaymentMethod method in CheckOutDao.GetPaymentMethods())
                                        {
                                            if (temp == 0)
                                            {
                                                <label for="@method.paymentMethodCode">
                                                    <input type="radio" id="@method.paymentMethodCode" name="pttt" value="@method.paymentMethodCode" checked="checked"> @method.paymentMethodName
                                                </label>
                                            }
                                            else
                                            {
                                                <label for="@method.paymentMethodCode">
                                                    <input type="radio" id="@method.paymentMethodCode" name="pttt" value="@method.paymentMethodCode"> @method.paymentMethodName
                                                </label>
                                            }
                                            temp++;
                                        }
                                        <input type="submit" value="Tiến hành thanh toán" class="aa-browse-btn">
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!-- / Cart view section -->
