
@{
    ViewBag.Title = "Cart";
}
@if (Session["UserId"] != null)
{
    if (Session["Role"].ToString().Equals("0"))
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
}
@using fashion_shop_group32.Models;
@using fashion_shop_group32.Models.Dao;
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="~/Content/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Cart Page</h2>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Cart</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (CartDao item in (List<CartDao>)Session["cart"])
                                        {
                                            <tr>

                                                <td><a class="remove" href="@Url.Action( "DeleteCart", "Cart", new { product_id = item.Pro.id_sanpham }, null)"><fa class="fa fa-close"></fa></a></td>
                                                <td><a href="#"><img src="@item.Pro.imageMain" alt="img"></a></td>
                                                <td><a class="aa-cart-title" href="#">@item.Pro.ten_sp</a></td>
                                                <td>@item.Pro.gia</td>
                                                <td><input class="aa-cart-quantity" type="number" value="@item.Pro.quantitySold"></td>
                                                <td>@item.Pro.getTotalMoney()</td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <h4>Cart Totals</h4>
                            <table class="aa-totals-table">
                                <tbody>
                                    @{
                                        double money = 0;
                                    }
                                    @foreach (CartDao item in (List<CartDao>)Session["cart"])
                                    {
                                        money = money + item.Pro.getTotalMoney();
                                    }
                                    <tr>
                                        <th>Subtotal</th>
                                        <td>@money</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td>@money</td>
                                    </tr>

                                </tbody>
                            </table>
                            <a href="#" class="aa-cart-view-btn">Proced to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->